*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* global styles */

.flex-spacebetween{
    display: flex;
    justify-content: space-between;
}

h2{
    font-weight: 300;
    padding: 1rem 0;
    font-size: 1.25rem;
}

a{
    color: var(--pure-white);
    text-decoration: none;
    font-weight: 300;
}

a:hover{
    cursor: pointer;
}

img{
    border-radius: 10px;
}

span{
    word-spacing: 5px;
}

/* variables */

:root{
    --pure-white: #FFFFFF;
    --red: #FC4747;
    --dark-blue: #10141E;
    --greyish-blue: #5A698F;
    --semidark-blue: #161D2F;
}


body{
    color: var(--pure-white);
}

/* navbar */

nav{
    padding: 1rem;
    background-color: var(--semidark-blue);
}

.fa-clapperboard{
    color: var(--red);
}

.nav-btn{
    background-color: transparent;
    border: none;
}

.nav-btn:hover{
    cursor: pointer;
}

.nav-btns i{
    color: var(--greyish-blue);
    margin-inline: 0.4rem;
}

.nav-btns i:hover{
    color: var(--pure-white);
}

.fa-user{
    color: var(--pure-white);
}

.user-btn{
    background-color: transparent;
    border: none;
}

.fa-user:hover{
    color: var(--red);
    cursor: pointer;
}

/* main */

main{
    background-color: var(--dark-blue);
}

/* searchbar */

form{
    padding: 1rem 0 0 1rem;
}

.fa-magnifying-glass{
    margin-right: 0.5rem;
}

.searchInput{
    background-color: var(--semidark-blue);
    border: transparent;
    width: 70%;
    padding: 0.3rem;
    color: var(--pure-white);
    outline: none;
}


/* trending */

.trending{
    padding-left: 1rem;
}

.trending-gallery{
   /* border: 1px dashed var(--pure-white);*/
    display: flex;
    column-gap: 0.8rem;
    overflow-x: scroll;
}

.trending-item{
    position: relative;
}

.trending-item-description{
    padding: 0.5rem;
    position: absolute;
    bottom: 0.25rem;
    border-bottom-right-radius: 0.625rem;
    border-bottom-left-radius: 0.625rem;
    width: 100%;
    background-color: rgba(84, 83, 83, 0.6);
}

.trending-item span{
    font-size: 0.75rem;
}

.trending-item h4{
    font-size: 0.93rem;
}

.trending-gallery img{
    height: 10rem;
}

/* recomended */

.recommended{
    padding: 0 1rem 1rem 1rem;
}

.recommended-gallery{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.9rem;
}

.recommended-item img{
    max-width: 100%;
}

.recommended-item span{
    font-size: 0.7rem;
}

.recommended-item h4{
    font-size: 0.87rem;
}

